src/wsdl/localhost_8080/cxf-java-first/SecurityService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sec.cxf.dhenton9000.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SecurityServiceImplService" targetNamespace="http://sec.cxf.dhenton9000.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sec.cxf.dhenton9000.com/" elementFormDefault="unqualified" targetNamespace="http://sec.cxf.dhenton9000.com/" version="1.0">

  <xs:element name="Group" type="tns:group"/>

  <xs:element name="getGroups" type="tns:getGroups"/>

  <xs:element name="getGroupsResponse" type="tns:getGroupsResponse"/>

  <xs:element name="sayHi" type="tns:sayHi"/>

  <xs:element name="sayHiResponse" type="tns:sayHiResponse"/>

  <xs:complexType name="getGroups">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getGroupsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:group"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="group">
    <xs:sequence>
      <xs:element minOccurs="0" name="groupName" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHi">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sayHiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getGroupsResponse">
    <wsdl:part element="tns:getGroupsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHiResponse">
    <wsdl:part element="tns:sayHiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getGroups">
    <wsdl:part element="tns:getGroups" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHi">
    <wsdl:part element="tns:sayHi" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SecurityService">
    <wsdl:operation name="getGroups">
      <wsdl:input message="tns:getGroups" name="getGroups">
    </wsdl:input>
      <wsdl:output message="tns:getGroupsResponse" name="getGroupsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <wsdl:input message="tns:sayHi" name="sayHi">
    </wsdl:input>
      <wsdl:output message="tns:sayHiResponse" name="sayHiResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecurityServiceImplServiceSoapBinding" type="tns:SecurityService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getGroups">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getGroups">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getGroupsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityServiceImplService">
    <wsdl:port binding="tns:SecurityServiceImplServiceSoapBinding" name="SecurityServiceImplPort">
      <soap:address location="http://localhost:8080/cxf-java-first/SecurityService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>